In [9]:
import pandas as pd
import numpy as np

In [10]:
# Load data from csv file into a pandas data frame
url = "https://gist.githubusercontent.com/bobbae/b4eec5b5cb0263e7e3e63a6806d045f2/raw/279b794a834a62dc108fc843a72c94c49361b501/data.csv"
df = pd.read_csv(url)
df.columns = ["year", "rank", "company", "revenue", "profit"]
print("Total number of records: {}".format(df.shape[0]))

Total number of records: 25500

In [11]:
# convert profit columns to numeric and filter nas
df.profit = df['profit'].apply(pd.to_numeric, errors='coerce')
df = df[~df['profit'].isna()]
print("Total number of records after filtering non-numeric profit: {}".format(df.shape[0]))

Total number of records after filtering non-numeric profit: 25131

In [12]:
# Sort by profit and print top 20 rows
print("Top 20 records sorted by profit in descending order")
print(df.sort_values(by='profit', ascending=False).head(20).to_string(index=False))

Top 20 records sorted by profit in descending order
 year  rank                 company   revenue   profit
 2005     2             Exxon Mobil  270772.0  25330.0
 1999     2              Ford Motor  144416.0  22071.0
 2004     2             Exxon Mobil  213199.0  21510.0
 2004     8               Citigroup   94713.0  17853.0
 2001     1             Exxon Mobil  210392.0  17720.0
 2005     8               Citigroup  108276.0  17046.0
 2005     5        General Electric  152363.0  16593.0
 2002     2             Exxon Mobil  191581.0  15320.0
 2003     6               Citigroup  100789.0  15276.0
 2004     5        General Electric  134187.0  15002.0
 2005    18   Bank of America Corp.   63324.0  14143.0
 2002     7               Citigroup  112022.0  14126.0
 2003     5        General Electric  131698.0  14118.0
 2002     6        General Electric  125913.0  13684.0
 2001     6               Citigroup  111826.0  13519.0
 2005     6           ChevronTexaco  147967.0  13328.0
 2001     5        General Electric  129853.0  12735.0
 2001    10  Verizon Communications   64707.0  11797.0
 2003     3             Exxon Mobil  182466.0  11460.0
 2005    24                  Pfizer   52921.0  11361.0

In [13]:
#Writing the dataframe to a file in json format
df.to_json(r'data2.json', orient='table', index=False)
print("JSON file created!")

JSON file created!